.kaoto-field-wrapper {
  &__label-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin: 0.5rem;
  }

  &__error-container {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    color: #da1e28;
  }

  &__error-icon {
    margin-top: 0.125rem;
    flex-shrink: 0;
  }
}
